{% extends 'layout.twig' %}

{% block body %}
        <!-- Sidebar -->
        <div class="span3">
          <div class="well sidebar-nav">
            {% if cur_user.login|length > 0 %}
              
            <!-- Refonte nav rapide -->

            <ul class="nav nav-list">
              <li class="nav-header">Accès Rapide</li>
              <li {% if cur_page == 'home' %}class="active"{% endif %}><a href="{{ site_root }}"><i class="icon-calendar"></i>Accueil</a></li>
              <li {% if cur_page == 'register' %}class="active"{% endif %}><a href="{{ site_root }}/events-register"><i class="icon-certificate"></i>S'inscrire à un évènement</a></li>
            </ul>
            
            {% if cur_user.rights == "manager" or cur_user.rights == "admin"%}
            <ul class="nav nav-list">
              <li class="nav-header">Gestionaire</li>
              <li {% if cur_page == 'addevents' %}class="active"{% endif %}><a href="events-add"><i class="icon-plus-sign"></i>Créer un évènement</a></li>
              <li {% if cur_page == 'manageevents' %}class="active"{% endif %}><a href="{{ site_root }}/events-manage"><i class="icon-tasks"></i>Gérer les évènements</a></li>
            </ul>
            {% endif %}

            {% if cur_user.rights == "admin" %}
            <ul class="nav nav-list">
              <li class="nav-header">Adminitration</li>
              <li {% if cur_page == 'users' %}class="active"{% endif %}><a href="{{ site_root }}/users-manage"><i class="icon-user"></i>Gérer les utilisateurs</a></li>
              <li {% if cur_page == 'config' %}class="active"{% endif %}><a href="{{ site_root }}/admin-config"><i class="icon-cog"></i>Gestion de l'application</a></li>
            </ul>
            {% endif %} 

              {# <ul class="nav nav-list">
                <li class="nav-header">Accès Rapide</li>
                <li {% if cur_page == 'home' %}class="active"{% endif %}><a href="{{ site_root }}"><i class="icon-home"></i>Vue globale</a></li>
                <li {% if cur_page == 'register' %}class="active"{% endif %}><a href="{{ site_root }}/events-register"><i class="icon-certificate"></i>S'inscrire à un évènement</a></li>
                {% if cur_user.rights.add_event %}
                <li {% if cur_page == 'addevents' %}class="active"{% endif %}><a href="events-add"><i class="icon-plus-sign"></i>Ajouter un évènement</a></li>
                {% endif %}
              </ul>
              {% if cur_user.rights.add_event or cur_user.rights.edit_event or cur_user.rights.delete_event or cur_user.rights.print_listing %}
              <ul class="nav nav-list">              
                <li class="nav-header">Evènement</li>
                {% endif %}
                {% if cur_user.rights.add_event or cur_user.rights.edit_event or cur_user.rights.delete_event %}
                <li {% if cur_page == 'events' %}class="active"{% endif %}><a href="{{ site_root }}/events-manage"><i class="icon-calendar"></i>Gérer les évènements</a></li>
                {% endif %}
                {% if cur_user.rights.print_listing %}
                <li {% if cur_page == 'printlists' %}class="active"{% endif %}><a href="events-print-lists"><i class="icon-print"></i>Feuilles d'émargement &amp; absences</a></li>              
              </ul>
              {% endif %}
              {% if cur_user.rights.add_user or cur_user.rights.edit_user or cur_user.rights.delete_user or cur_user.rights.manage_rights %}
              <ul class="nav nav-list">
                <li class="nav-header">Utilisateurs</li>
                {% if cur_user.rights.add_user or cur_user.rights.edit_user or cur_user.rights.delete_user %}
                <li {% if cur_page == 'users' %}class="active"{% endif %}><a href="{{ site_root }}/users-manage"><i class="icon-user"></i>Gérer les utilisateurs</a></li>
                {% endif %}
                {% if cur_user.rights.manage_rights %}
                <li {% if cur_page == 'rightgrps' %}class="active"{% endif %}><a href="{{ site_root }}/rgroups-manage"><i class="icon-lock"></i>Gérer les droits</a></li>  
                {% endif %}            
              </ul>
              {% endif %}
              {% if cur_user.rights.superadmin %}
              <ul class="nav nav-list">
                <li class="nav-header">Administration</li>
                <li {% if cur_page == 'config' %}class="active"{% endif %}><a href="{{ site_root }}/admin-config"><i class="icon-wrench"></i>Gestion de l'application</a></li>
              </ul>
              {% endif %} #}
            
            {% else %}
            <ul class="nav nav-list">
              <li class="nav-header">Accès Rapide</li>
              <li {% if cur_page == 'home' %}class="active"{% endif %}><a href="{{ site_root }}"><i class="icon-home"></i>Vue globale</a></li>
            </ul>
            {% endif %}

          </div><!--/.well -->
        </div><!--/span3-->
{% block content %}{% endblock %}
{% endblock %}
