<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>SmartEvent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!-- CSS -->
    <link href="{{ site_root }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site_root }}/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ site_root }}/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site_root }}/css/style.css">
    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      </style>
    <![endif]-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ site_root }}/img/favicon.ico">
    {% block redirection %}
    {% endblock %}
  </head>
  <body>
  <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- collapse pour la vue mobile -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <ul class="nav">
            <li><a href="#"><i class="icon-home"></i>Vue globale</a></li>
            <li><a href="#">Gestion évenements</a></li>
            <li><a href="#">Administration</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="#">{{ [cur_user.firstname,cur_user.lastname]|join(' ') }}</a></li>
            <li><a href="#">Aide</a></li>
          </ul>
        </div>
      </div>
    </div>
{% block body %}{% endblock %}
    <hr>
    <footer>
      <p>&nbsp;&copy; 2012 - <a href="https://github.com/sikado/SmartEvent">Retrouvez-nous sur GitHub</a></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ site_root }}/js/bootstrap.min.js"></script>
    <script src="{{ site_root }}/js/jquery-ui.min.js"></script>
    <script src="{{ site_root }}/js/inscription.js"></script>
    <script src="{{ site_root }}/js/gestion-utilisateur.js"></script>
    <script src="{{ site_root }}/js/gestion-event.js"></script>
  </body>
</html>
