<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>SmartEvent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!-- CSS -->
    <link href="{{ site_root }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site_root }}/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ site_root }}/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site_root }}/css/style.css">
    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      </style>
    <![endif]-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ site_root }}/img/favicon.ico">
    {% block redirection %}
    {% endblock %}
  </head>
  <body>
  <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!-- collapse pour la vue mobile -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./"><i class="icon-calendar icon-white"></i>&nbsp;SmartEvent</a>
          {% if cur_user.login|length > 0 %}
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">              
              <i class="icon-user"></i> {{ cur_user.login }}              
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Préférences</a></li>
              <li class="divider"></li>
              <li><a href="./disconnect">Déconnexion</a></li>
            </ul>
          </div>
          {% else %}
          <div class="btn-group pull-right">
            <a class="btn" href="login">Connexion</a>
          </div>
          {% endif %}
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Aide</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- Container -->
    <div class="container-fluid">
      <div class="row-fluid">
{% block body %}{% endblock %}
      </div><!--/row-fluid-->
    </div><!--/container-fluid-->
    <hr>
    <footer>
      <p>&nbsp;&copy; 2012 - <a href="https://github.com/sikado/SmartEvent">Retrouvez-nous sur GitHub</a></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ site_root }}/js/bootstrap.min.js"></script>
    <script src="{{ site_root }}/js/jquery-ui.min.js"></script>
    <script src="{{ site_root }}/js/inscription.js"></script>
    <script src="{{ site_root }}/js/gestion-utilisateur.js"></script>
    <script src="{{ site_root }}/js/gestion-event.js"></script>
  </body>
</html>
