{% extends 'layout.twig' %}
    
    {% block body %}
    <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">ADE Anmieu</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ user.login }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Préférences</a></li>
              <li class="divider"></li>
              <li><a href="#">Déconnexion</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Aide</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- Container -->
    <div class="container-fluid">
      <div class="row-fluid">
        <!-- Sidebar -->
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Accès Rapide</li>
              <li class="active"><a href="#"><i class="icon-home"></i>Vue globale</a></li>
              {% if rights.add_event %}
              <li><a href="#"><i class="icon-plus-sign"></i>Ajouter un évenement</a></li>
              {% endif %}
            </ul>
            {% if rights.add_event or rights.edit_event or rights.delete_event or rights.print_listing %}
            <ul class="nav nav-list">              
              <li class="nav-header">Evenements</li>
              {% endif %}
              {% if rights.add_event or rights.edit_event or rights.delete_event %}
              <li><a href="#"><i class="icon-plus-sign"></i>Gérer les évenements</a></li>
              {% endif %}
              {% if rights.print_listing %}
              <li><a href="#"><i class="icon-print"></i>Feuilles d'émargement & absences</a></li>              
            </ul>
            {% endif %}
            {% if rights.add_user or rights.edit_user or rights.delete_user or rights.manage_rights %}
            <ul class="nav nav-list">
              <li class="nav-header">Utilisateurs</li>
              {% if rights.add_user or rights.edit_user or rights.delete_user %}
              <li><a href="#"><i class="icon-home"></i>Gérer les utilisateurs</a></li>
              {% endif %}
              {% if rights.manage_rights %}
              <li><a href="#"><i class="icon-plus-sign"></i>Gérer les droits</a></li>  
              {% endif %}            
            </ul>
            {% endif %}
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
          <!-- hero-unit -->
          <div class="hero-unit">
            <h1>Bienvenue {{ [user.firstname, user.lastname]|join(' ')}} !</h1>
            <p>Actuellement vous êtes inscrit à {{ registered_count }} évenements.</p>
          </div>
          <!-- row-fluid -->
          <div class="row-fluid">            
	    <div class="accordion" id="accordion2"> 
              <div class="accordion-group"> 
                <div class="accordion-heading"> 
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Soutenances RT1</a> 
                </div>
                <div id="collapseOne" class="accordion-body collapse in"> 
                  <div class="accordion-inner"> 
										{% for event in events %} 
										<div class="span4">
										<h2>{{ event.name }}</h2>
										<h4><span class="badge badge-inverse">{{ event.placeLibre }} places libres</span></h4>
										<dl>
											<dt>Description</dt>
											<dd>{{ event.description }}</dd>
											<dt>Organisateurs</dt>
											<dd><span class="label label-info">Créateur</span> {{ [event.creator.firstname, event.creator.lastname]|join(' ') }}</dd>
											{% for admin in event.admin %}
												<dd>{{ [admin.firstname, admin.lastname]|join(' ') }}</dd>
											{% endfor %}
										</dl>
											<p><a class="btn" data-toggle="modal" href="#myModal{{ event.id }}">Détails &raquo;</a></p>
											<div class="modal fade" id="myModal{{ event.id }}">
												<div class="modal-header">
													<button class="close" data-dismiss="modal">×</button>
													<h3>{{ event.name }}</h3>
												</div>
												<div class="modal-body">
													<p>{{ event.description }}<br />
													Il ne reste plus que {{ event.placeLibre }} pour cette evenment</p>
												</div>
												<div class="modal-footer">
													<a href="#" class="btn" data-dismiss="modal">Close</a>
													<a href="#" class="btn btn-primary inscrire">S'inscrire</a>
												</div>
											</div>
										</div><!--/span4-->
										{% endfor %}
					
					
                    
                </div> 
              </div> 
            </div> 
              <div class="accordion-group"> 
                <div class="accordion-heading"> 
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Soutenances RT2</a> 
                </div> 
                <div id="collapseTwo" class="accordion-body collapse"> 
                  <div class="accordion-inner"> 
                    Nothin' to see here.
                  </div> 
                </div> 
              </div> 
              <div class="accordion-group"> 
                <div class="accordion-heading"> 
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Sortie classe verte</a> 
                </div> 
                <div id="collapseThree" class="accordion-body collapse"> 
                  <div class="accordion-inner"> 
                    Pedobear &lt;3 u
                  </div> 
                </div> 
              </div> 
            </div> 
            </div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->
    {% endblock %}
