{% extends 'body.twig' %}
{% block content %}
{% if cur_user.rights.add_user or cur_user.rights.edit_user or cur_user.rights.delete_user %}
<div class="span9">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-toggle="tab" href="#utilisateurs">Utilisateurs</a></li>
    <li><a data-toogle="tab" href="#groupes">Groupes</a></li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane active" id="utilisateurs">
      <form method="POST" action="#">
        {% if cur_user.rights.add_user %}<a class="btn btn-primary" href="#">Ajouter</a>{% endif %}
        {% if cur_user.rights.edit_user %}<a class="btn btn-warning" href="#">Modifier</a>{% endif %}
        {% if cur_user.rights.delete_user %}<a class="btn btn-danger" href="#">Supprimer</a>{% endif %}
        <table class="table table-condensed">
          <thead>
            <tr>
              <th><label class="checkbox inline"><input type="checkbox" id="checkboxAll"></label></th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Login</th>
              <th>Courriel</th>
              <th>Groupes</th>
              <th>Groupe de droits</th>
            </tr>
          </thead>
          <tbody>          
            {% for user in users %}
            <tr id="user-{{ user.id }}">
              <td><label class="checkbox inline"><input type="checkbox"/></label></td>
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.login }}</td>
              <td>{{ user.mail }}</td>
              <td>{{ user.grp_irl }}</td>
              <td>{{ user.grp_right }}</td>
            </tr>
            {% endfor %}          
          </tbody>
        </table>
      </form>
    </div>
    <div class="tab-pane" id="groupes">      
      <form method="POST" action="#">
        {% if cur_user.rights.add_grp %}<a class="btn btn-primary" href="#">Ajouter</a>{% endif %}
        {% if cur_user.rights.edit_grp %}<a class="btn btn-warning" href="#">Modifier</a>{% endif %}
        {% if cur_user.rights.delete_grp %}<a class="btn btn-danger" href="#">Supprimer</a>{% endif %}
        <table class="table table-condensed">
          <thead>
            <tr>
              <th><label class="checkbox inline"><input type="checkbox" id="checkboxAll"></label></th>
              <th>Nom</th>
            </tr>
          </thead>
          <tbody>          
            {% for group in groups %}
            <tr id="group-{{ group.id }}">
              <td><label class="checkbox inline"><input type="checkbox"/></label></td>
              <td>{{ group.name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
