{% set cur_page = 'config' %}
{% extends 'body.twig' %}
{% block content %}
{% if cur_user.right == 'ADMIN' %}
<div class="span9 offset1">
  <form class="form-horizontal well" method="POST" action="#">
    <fieldset>
      <legend>Application</legend>
      <div class="control-group">
        <label class="control-label" for="input_mailDomain">Domaines à filtrer</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input_mailDomain" value="{{ domains }}" />
          <p class="help-block">etu.mon-univ.com par ex. (séparer les domaines par un ';')</p>
        </div>
    </fieldset>
    <fieldset>
      <legend>Serveur Web</legend>
      <div class="control-group">
        <label class="control-label" for="input_siteRoot">Racine du site</label>
        <div class="controls">
          <input type="text" class="input-large" id="input_siteRoot" value="{{ site_root }}" />
          <p class="help-block">monsite.com/events/ par ex.</p>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Serveur SQL</legend>
      <div class="control-group">
        <label class="control-label" for="input_sqlServer">Serveur SQL</label>
        <div class="controls">  
          <div class="input-append input-prepend">
            <input type="text" class="input-medium" id="input_sqlServer" name="IPSqlServer" value="{{ hostname }}" /><span class="add-on">:</span><input type="text" class="input-mini" name="PortSqlServer" id="input_portsqlServer" value="{{ port }}" />
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input_sqlUser">Utilisateur SQL</label>
        <div class="controls">
          <input type="text" class="input-medium" id="input_sqlUser" value="{{ user }}"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input_sqlPwd">Mot de passe SQL</label>
        <div class="controls">
          <input type="password" class="input-medium" id="input_sqlPwd" value="{{ password }}"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input_sqlDB">Base SQL</label>
        <div class="controls">
          <input type="text" class="input-medium" id="input_sqlDB" value="dbname" />
        </div>
      </div>
      
    </fieldset>    
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Sauvegarder</button>
      <button class="btn">Annuler</button>
    </div>
  </form>
</div>
{% endif %}
{% endblock %}
