{% set cur_page = 'manageevents' %}
{% extends 'body.twig' %}
{% block content %}
{% if cur_user.right == "GESTIONNAIRE" or cur_user.right == "ADMIN"%}
<div class="row">
  {# PARTIE SESSIONS ******************************************************************** #}
  <div class="span6" id="session">
    <a class="btn btn-primary" data-toggle="modal" href="#addSessionModal">Ajouter une session</a>
    <a class="btn btn-danger" href="#">Supprimer</a><br /><br />
    <h5>Cliquez sur le nom d'une session pour voir/modifier ses détails</h5>
    <table class="table table-condensed well">
      <thead>
        <tr>
          <th><label class="checkbox inline"><input type="checkbox" id="checkboxAll"></label></th>
          <th>Nom</th>
          <th>Evenements</th>
        </tr>
      </thead>
      <tbody>          
        {% for session in sessions %}
        <tr id="session-{{ session.idsession }}">
          <td><label class="checkbox inline"><input type="checkbox"/></label></td>
          <td><a href="#modal-session-{{ session.idsession }}" data-toggle="modal">{{ session.nomsession }}</a></td>
          <td><a href="#" class="voir">Voir &raquo;</a></td>
          <td>
            <div class="modal fade" id="modal-session-{{ session.idsession }}">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>{{ session.nomsession }}</h3>
              </div>
              <div class="modal-body">
                <ul>
                  <li>Créé par {{ [session.prenomcreateur,session.nomcreateur]|join(' ') }}</li>
                  <li>Nombre max d'inscrit : <span>{{ session.nbmaxinscritevenement }}</span> <i class="icon-pencil"></i></li>
                  <li>Nombre d'event mini : <span>{{ session.nbminparticipationevenement }}</span> <i class="icon-pencil"></i></li>
                  <li>Date limite d'inscription : <span>{{ session.datelimiteinscription }}</span> <i class="icon-pencil"></i></li>
                  <li>Date rappel mail : <span>{{ session.daterappelmail}}</span> <i class="icon-pencil"></i></li>
                </ul>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}          
      </tbody>
    </table>
  </div>
  {# PARTIE EVENTS ********************************************************************** #}
  <div class="hide progress progress-striped active span3 offset2" style="margin-top: 100px;">
    <div class="bar" style="width: 100%;"></div>
  </div>
  <div class="hide span6" id="events">
    <a class="btn btn-primary" data-toggle="modal" href="#addEventModal">Ajouter un évènement</a>
    <a class="btn btn-success" data-toggle="modal" href="#">Importer des évènements</a>
    <a class="btn btn-danger" href="#">Supprimer</a><br /><br />
    <h5>Cliquez sur le nom d'un évènement pour voir/modifier ses détails</h5>
    <table class="table table-condensed well">
      <thead>
        <tr>
          <th><label class="checkbox inline"><input type="checkbox" id="checkboxAll"></label></th>
          <th>Nom</th>
          <th>Emplacement</th>
        </tr>
      </thead>
      <tbody>         
      </tbody>
    </table>
  </div>
</div>
{# MODAL AJOUT SESSIONS ***************************************************************** #}
<div class="modal fade" id="addSessionModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Ajouter une session</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" method="POST" action="#">
      <div class="control-group">
        <label class="control-label" for="input_sessionName">Nom de la session</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input_sessionName" value="" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input_dest">Destinataires</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input_dest" value="" />
        </div>
      </div>
      <legend>Options supplémentaires</legend>
      <div class="control-group">
        <label class="control-label" for="input_sizeEvent">Maximum d'inscrits par évènements</label>
        <div class="controls">
          <input type="text" class="input-mini" id="input_sizeEvent" value="" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input_minEvent">Minimum d'inscriptions</label>
        <div class="controls">
          <input type="text" class="input-mini" id="input_minEvent" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input_dateExp">Date limite d'inscription</label>
        <div class="controls">
          <input type="text" class="input-large" id="input_dateExp" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input_dateMail">Date du rappel par mail</label>
        <div class="controls">
          <input type="text" class="input-large" id="input_dateMail" />
        </div>
      </div> 
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Annuler</a>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
    </form>    
  </div>
</div>
{# MODAL AJOUT EVENT ************************************************************** #}
<div class="modal fade" id="addEventModal"> 
  <div class="modal-header"> 
    <button class="close" data-dismiss="modal">×</button> 
    <h3>Ajouter un évènement</h3> 
  </div> 
  <div class="modal-body"> 
    <form class="form-horizontal" method="POST" action="#">
      <fieldset>
    <div class="control-group">
      <label class="control-label" for="titre">Nom de l'évènement :</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="titre" id="titre" />
      </div>
    </div> 
    <div class="control-group">
      <label class="control-label" for="descEvent">Description de l'évènement :</label>
      <div class="controls">
        <textarea class="input-xlarge" id="description" name="description" row="3"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="dateDebut">Date du début de l'évènement :</label>
      <div class="controls">
        <input type="text" class="input-medium date" id="dateDebut" name="dateDebut" />
        <div class="input-append input-prepend">
          <input type="text" class="input-mini" id="heureDebut" name="heureDebut" placeholder="Heures"/><span class="add-on">:</span><input type="text" class="input-mini" name="minuteDebut" id="minuteDebut" placeholder="Minutes"/>
        </div>
        
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="dateFin">Date de la fin de l'évènement :</label>
      <div class="controls">
        <input type="text" class="input-medium date" id="dateFin" name="dateFin"/>
        <div class="input-append input-prepend">
          <input type="text" class="input-mini" id="heureFin" name="heureFin" placeholder="Heures"/><span class="add-on">:</span><input type="text" class="input-mini" name="minuteFin" id="minuteFin" placeholder="Minutes"/>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="emplacement">Emplacement :</label>
      <div class="controls">
        <input type="text" class="input-large" id="emplacement" name="emplacement"/>
      </div>
    </div>
  </fieldset>   
    </form> 
  </div> 
  <div class="modal-footer"> 
    <a href="#" class="btn" data-dismiss="modal">Annuler</a>
    <a href="event-submit" class="btn btn-primary">Ajouter</a> 
  </div> 
</div> 
{% endif %}
{% endblock %}
