{% set cur_page = 'home' %}
{% extends 'body.twig' %}
{% block content %}
<div class="hero-unit">
  <h1>Bienvenue,</h1>
  <p>Actuellement vous êtes inscrit à {{ totalRegisteredCount }} évènements.</p>
<br /><br />
  <div class="well" id="search">
  <form action="#" methode="post" class="form-inline span11" id="home-search">
    <div class="control-group">
      <input class="input-xxxlarge" type="text" placeholder="Réseaux, Wi-Fi, Informatique, RT1,..."><a href="search" id="btn-home-search" class="btn btn-primary btn-large">Rechercher des évènements &raquo;</a> 
    </div>
  </form>
  <table class="table hide">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Places libres</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
      {# <tr>
        <th><a href="#">Fin du monde</a></th>
        <th>C'est le jour où ...</th>
        <th><span class="badge badge-inverse">10 places libres</span></th>
        <th><span class="badge badge-success">Inscrit</span></th>
      </tr>
      <tr>
        <th><a href="#">Nouveau monde</a></th>
        <th>C'est le jour où ...</th>
        <th><span class="badge badge-inverse">1 places libres</span></th>
        <th><span class="badge badge-success">Inscrit</span></th>
      </tr> #}
    </tbody>
  </table>
  <p class="hide noResult"> Votre recherche n'a pas donné de résultat</p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2>Sessions</h2>
    <ul class="unstyled">
      {% if sessions|length > 0 %}
      {% for session in sessions %}
      <li>
        {% if session.eventInscrit < session.nbminparticipationevenement %}
        <span class="badge badge-important">
        {% else %}
        <span class="badge badge-success">
        {% endif %}
        {{ session.eventInscrit }}</span>
        <a href="{{ site_root }}/session-{{ session.idsession }}-list">{{ session.nomsession }} &raquo;</a></li>
      {% endfor %}
      {% else %}
      <li>Aucune session.</li>
      {% endif %}  
    </ul>
  </div>
  <div class="span6">
    <h2>Prochains évènements</h2>
    <ul class="unstyled">
      {% if lastevent|length > 0 %}
      {% for levent in lastevent %}
      <li><a href="#">{{ levent.datedebutevenement|truncate(11,true)|date("d M")|replace({'Feb': 'Fev', 'Apr': 'Avr', 'May': 'Mai', 'Jun': 'Juin', 'Jul': 'Juil', 'Aug': 'Août'}) }} - {{ levent.nomevenement }}</a></li>
      {% endfor %}
      <li><a href="{{ site_root }}/next-events">Voir tout &raquo;</a></li>      
      {% else %}
      <li>Vous n'êtes inscrit à aucun évènement.</li>
      {% endif %}
    </ul>
  </div>
</div> 
{% endblock %}
