{% extends 'body.twig' %}
{% block content %}
<div class="row">
  <div class="span12">
    <h1 id="session-{{ session.id }}">{{ session.nomsession }}</h1>
    <h3>Vous devez vous inscrire à {{ session.nbminparticipationevenement }} évènements au minimum.</h3><br />
  </div>
</div>
<div id="session">
  <div class="row">
  {% for event in events %}
  {% if loop.index % 4 == 0 and loop.index0 != 0 and not loop.last %}
  </div>
  <div class="row">
  {% endif %}
  <div class="span3 well inverse">
    <div class="event-header">
      <h2>{{ event.nomevenement }}</h2>
      {% if event.estinscrit == 1 %}
      <h4><span class="badge badge-inverse">{{ session.nbmaxinscritevenement - event.nbinscrit }} places libres</span> <span class="badge badge-success">Inscrit</span></h4>
      {% else %}
      <h4><span class="badge badge-inverse">{{ session.nbmaxinscritevenement - event.nbinscrit }} places libres</span></h4>
      {# else %}
      <h4><span class="badge badge-alert">0 places libres</span></h4>#}
      {% endif %}
    </div>
    <dl>
      <dt>Description</dt>
      <dd>{{ event.descevenement }}</dd>
    </dl>
    <p><a class="btn detailBtn" data-toggle="modal" href="#modal-{{ event.idevenement }}">Détails &raquo;</a></p>
    <div class="ajaxCont modal fade" id="modal-{{ event.idevenement }}">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{{ event.nomevenement }}</h3>
        {% if event.estinscrit == 1 %}
        <span class="badge badge-success">Inscrit</span>  
        {% endif %}
      </div>
      <div class="modal-body">
        {% if event.datedebutevenement|truncate(11,true)|date("dmy") == event.datefinevenement|truncate(11,true)|date("dmy") %}
        <p>Le {{ event.datedebutevenement|truncate(11,true)|date("d/m/y") }}, de {{ event.datedebutevenement|date("H\\hi") }} à {{ event.datefinevenement|date("H\\hi") }}</p>
        {% else %}
        <p>Du {{ event.datedebutevenement|date("d/m/y \\à H\\hi") }} au {{ event.datefinevenement|date("d/m/y \\à H\\hi") }}
        {% endif %}
        <p>En {{ event.emplacementevenement }}<br /><br />
        {{ event.descevenement }}<br />
        Il ne reste plus que {{ session.nbmaxinscritevenement - event.nbinscrit }} place(s) pour cette évènement</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        {% if  session.nbmaxinscritevenement - event.nbinscrit < 1  and event.estinscrit != 1 %}
          <a href="#" class="btn btn-danger disabled">Il n'y a plus de places</a>
        {% else %}
          {% if dateslimites.datelimiteinscription|date("dmY") <= dateactuelle %}
            {% if event.estinscrit == 1 %}
              <a href="#" class="btn btn-primary inscrire">Se désinscrire</a>  
            {% else %}
              <a href="#" class="btn btn-primary inscrire">S'inscrire</a>
            {% endif %}
          {% else %}
            <a href="#" class="btn btn-danger disabled">Inscriptions closes</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div><!--/span4 data-toggle="modal"-->
  {% endfor %}
</div>
{% if activeEvent|length > 0 %}
  <script type="text/javascript">
  $(document).ready(function() {
    $("#modal-{{ activeEvent }}").modal('show');
  });
  </script>
{% endif %}
{% endblock %}