{% set cur_page = 'users' %}
{% extends 'body.twig' %}
{% block content %}
{% if cur_user.right == "admin" %}
<div class="row">
  <div class="span9 offset1">
    <form method="POST" action="#" id="utilisateurs">
      <a class="btn btn-primary" href="#">Ajouter un utilisateur</a>   
      <a class="btn btn-info" href="#">Promouvoir</a>   
      <a class="btn btn-danger" href="#">Supprimer</a><br /><br />
      {# <ul class="listTags">
        <li class="tag">A1 <i class=" icon-remove closeTag"></i></li>
        <li class="tag">12 <i class=" icon-remove closeTag"></i></li>
        <input type="text" placeholder="ex A1 C2"/>
      </ul> #}
      <table class="table table-condensed well">
        <thead>
          <tr>
            <th><label class="checkbox inline"><input type="checkbox" id="checkboxAll"></label></th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Login</th>
            <th>Courriel</th>
            <th>Droit</th>
          </tr>
        </thead>
        <tbody>          
          {% for user in users %}
          <tr id="user-{{ user.id }}">
            <td><label class="checkbox inline"><input type="checkbox"/></label></td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.right }}</td>
          </tr>
          {% endfor %}          
        </tbody>
      </table>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
